In [1]:
import pandas as pd

## Bag of Words

In [2]:
doc1 = 'We have found the great treasure'
doc2 = 'Books are the greatest treasure in the world'
doc3 = 'World is full of treasure'

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [4]:
X = vectorizer.fit_transform([doc1,doc2,doc3])
df_bow_sklearn = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())
df_bow_sklearn.head()

/Users/hkothawade/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,are,books,found,full,great,greatest,have,in,is,of,the,treasure,we,world
0,0,0,1,0,1,0,1,0,0,0,1,1,1,0
1,1,1,0,0,0,1,0,1,0,0,2,1,0,1
2,0,0,0,1,0,0,0,0,1,1,0,1,0,1

In [5]:
vectorizer.get_feature_names()

/Users/hkothawade/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['are',
 'books',
 'found',
 'full',
 'great',
 'greatest',
 'have',
 'in',
 'is',
 'of',
 'the',
 'treasure',
 'we',
 'world']

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words='english',ngram_range=(2,2))
X = vectorizer.fit_transform([doc1,doc2,doc3])
df_bow_sklearn = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())
df_bow_sklearn.head()

,books greatest,great treasure,greatest treasure,treasure world,world treasure
0,0,1,0,0,0
1,1,0,1,1,0
2,0,0,0,0,1

## TF-IDF

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
doc1 = 'We have found the great treasure'
doc2 = 'Books are the greatest treasure in the world'
doc3 = 'World is full of treasure'

In [9]:
count = CountVectorizer()
word_count=count.fit_transform([doc1,doc2,doc3])
print(word_count)

  (0, 12)	1
  (0, 6)	1
  (0, 2)	1
  (0, 10)	1
  (0, 4)	1
  (0, 11)	1
  (1, 10)	2
  (1, 11)	1
  (1, 1)	1
  (1, 0)	1
  (1, 5)	1
  (1, 7)	1
  (1, 13)	1
  (2, 11)	1
  (2, 13)	1
  (2, 8)	1
  (2, 3)	1
  (2, 9)	1

In [10]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count)
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count.get_feature_names(),columns=["idf_weights"])

/Users/hkothawade/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [11]:
#inverse document frequency
df_idf.sort_values(by=['idf_weights'])

          idf_weights
treasure     1.000000
the          1.287682
world        1.287682
are          1.693147
books        1.693147
found        1.693147
full         1.693147
great        1.693147
greatest     1.693147
have         1.693147
in           1.693147
is           1.693147
of           1.693147
we           1.693147

In [12]:
#tfidf
tf_idf_vector=tfidf_transformer.transform(word_count)
feature_names = count.get_feature_names()

/Users/hkothawade/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [15]:
first_document_vector=tf_idf_vector[0]
df_tfifd= pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=["tfidf"])

In [16]:
df_tfifd.sort_values(by=["tfidf"],ascending=False)

             tfidf
found     0.450504
great     0.450504
have      0.450504
we        0.450504
the       0.342620
treasure  0.266075
are       0.000000
books     0.000000
full      0.000000
greatest  0.000000
in        0.000000
is        0.000000
of        0.000000
world     0.000000

In [17]:
#tf idf
tf_idf = TfidfVectorizer()
#applying tf idf to training data
X_train_tf = tf_idf.fit_transform([doc1,doc2,doc3])

In [18]:
X_train_tf

<3x14 sparse matrix of type '<class 'numpy.float64'>'
	with 18 stored elements in Compressed Sparse Row format>